# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# turbo cache
.turbo

# compiled binaries
tui/invoicing-cli

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
invoice-template-design.png
PROGRESS.md
*.db
invoice-1.pdf
